.datepickerHeader {
    background-color: white;
    color: #E61E51;
    border: none;
    text-align: center;
  }
  
  .datepickerDaySelected {
    background-color: #E61E51;
    color: white;
  }
  
  .datepickerDayKeyboardSelected {
    background-color: #F07C8C;
  }
  
  .datepickerCurrentMonth {
    color: #E61E51;
  }