.__header {
  background-color: white;
  color: #E61E51;
  border: none;
  text-align: center;
}

.daySelected {
  background-color: #E61E51;
  color: white;
}

.dayKeyboardSelected {
  background-color: white;
}

.currentMonth {
  color: #E61E51;
}

.wrapper {
  width: 200px;
  text-align: center;
  font-size: 17px;
  text-decoration: underline;
  border: none;
}