* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100vw;
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
  
  /* mobile x scroll OFF */
  overflow-x: clip;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  font-family: "Noto Sans KR", sans-serif;
  background-color: #eee;
  color: #333;
  font-size: 14px;

  /* 스크롤바 안보이게 처리 */
  -ms-overflow-style: none;

}

/* 스크롤바 안보이게 처리 */
::-webkit-scrollbar {
  display: none;
}





/* 모바일 자동 확대 설정 제한 (16px 이상일 때 ios, 안드로이드 자동 확대 되지 않음) */
input, textarea {
  font-size: 16px;
}

a {
  color: #333;
}

img {
  vertical-align: top;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

#root {
  background: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.subHeader + div {
  padding-top: 50px;
}